Source: ros-hydro-web-video-server
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), ffmpeg, libavcodec-dev, libavformat-dev, libavutil-dev, libswscale-dev, ros-hydro-catkin, ros-hydro-cv-bridge, ros-hydro-image-transport, ros-hydro-roscpp, ros-hydro-roslib
Homepage: http://ros.org/wiki/web_video_server
Standards-Version: 3.9.2

Package: ros-hydro-web-video-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ffmpeg, libavcodec-dev, libavformat-dev, libavutil-dev, libswscale-dev, ros-hydro-cv-bridge, ros-hydro-image-transport, ros-hydro-roscpp, ros-hydro-roslib
Description: A ROS Node to Stream Image Topics Via a MJPEG Server
